/* STYLING FOR NAVBAR CLASS */

/* div for the backround of the navbar component */


nav {
    display: flex; /* places content to the right */
    justify-content: space-between; 
    align-items: center;
    background-color: #00664d;
    color: white;
    position: sticky;
    margin: 0;
    padding: 10px 20px; /* Add padding to the top and bottom of the nav element */
}


nav ul {
    display: flex; /* places content to the right */
    background: #00664d;
    align-items: center;
}

nav ul li {
   display: flex;
}

nav ul li a {
    text-decoration: none; /* Removes the underline */
    color: white;
    padding: 0.9rem;
    margin: 0 0.5rem;
    display: block; /* Make the link a block element */
    height: 100%; /* Make the link cover the entire width */
}

 li a:not(.active):hover,
 li :hover {
    background: #207963; /* Background color when link is hovered */
    cursor: pointer;
    border-radius: 0.5rem; /* Makes the border curvy */
}

li a.active {
    background-color: #207963; /* Background color for the active link */
    cursor: pointer;
    border-radius: 0.5rem; /* Makes the border curvy */
}

/* hamburger menu */
nav .menu {
    display: flex;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

/* Account image button in navbar */
.account-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

/* Dropdown container */
.account-dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown content container (hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    padding: 10px 10px;
    background-color: #00664d;
    z-index: 1;
    top: 30px 20px; /* Adjust the value as needed for the desired gap */
    right: 0px;
    margin: auto;
    width: auto;
    height: auto;
    white-space: nowrap; /* Ensures that the white space doesn't affect the width (e.g. "sign up" will remain in one line) */
}

/* Show the dropdown menu on hover */
.account-dropdown:hover .dropdown-content {
    display: block; 
    background: #00664d;
    border-radius: 0.5rem; /* Makes the border curvy */
}
  
/* Dropdown link for account dropdown menu */
.dropdown-link {
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    background: #00664d;
    margin-bottom: 5px; /* Creates a gap between the dropdown links */
}

  
/* Change color of dropdown links on hover */
.dropdown-content .dropdown-link:hover {
    background-color: #207963;
}

/* Media query to handle when user is on smaller screen */
@media (max-width: 59em) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }

    nav .menu span {
        height: 0.3rem;
        width: 100%;
        background-color: #ffffff;
        border-radius: 0.2rem;
        align-items: center;
    }

    .dropdown-content {
        /* Change position to relative to position the dropdown content relative to its parent */
        position: relative;
        display: none;
        background-color: #00664d;
        z-index: 1;
        width: auto; /* Set width to auto to adjust based on content */
        top: auto; /* Remove top property */
        right: auto; /* Remove right property */
    }
    
    /* Show the dropdown menu on hover */
    .account-dropdown:hover .dropdown-content {
        /* Change display to flex and flex-direction to row */
        display: flex;
        flex-direction: row;
        align-items: center; /* Align items to center */
        position: absolute; /* Position the dropdown content absolutely relative to the account-dropdown */
        top: 100%; /* Position it below the account-dropdown */
        left: 0; /* Align it with the left edge of the account-dropdown */
    }
      
    /* Dropdown links */
    .dropdown-link {
        /* Remove display: block */
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        background: #00664d;
    }

    NavLink {
        position: left;
    }
}