/* STYLING FOR ABOUT PAGE */

.container {
  color: #004d38; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  min-height: 85vh; /* Minimum height of the page to fill the viewport */
}

.header-content {
  color: #004d38; 
  margin-top: 40px;
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-size: 35px;
}

p.about-text {
  font-size: 17px;
}

.about {
  display: flex;
  height:10wh;
  width: 100 vw;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
  
.boxes {
  width: 1000px;
}
  
.item {
  background-color: #eff5f4;
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 15px; /* Adjust the value as needed for the curve */
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
  border: 1px solid #00664d;
}
  
.title {
  color: #004d38; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
  
.content {
  color: #004d38;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
  font-size: 15px;
}
  
.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}

.link-text {
  color: #00664d;
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
}

.help-link {
  background: none;
  color: #00664d;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  font-size: 17px;
}

@media (max-width: 65em) {
  .boxes {
    width: 90%; /* Example change for smaller screens */
    font-size: 28px;
  }

  h1 {
    font-size: 28px; /* Smaller font size on smaller screens */
  }

  h2 {
    font-size: 20px;
  }

  p.about-text {
    font-size: 16px; /* Smaller text in paragraphs */
  }

  .help-link {
    font-size: 16px;
  }

  .container {
    padding: 0 20px; /* Adds 20px padding to the left and right */
  }
}