
.account-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh; /* Minimum height of the page to fill the viewport */
}


.signup-container { 
    text-align:

}

.login-container {
  align-items: center;
  text-align: center;
}

.title {
  font-weight: bold;
  margin: 0;
}

input {
  background-color: #ccc;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  border-radius: 10px;
}

button[type=submit] {
  border-radius: 25px;
  border: 1px solid #004d39;
  background-color: #00805e;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  &:active{
      transform: scale(0.95);
  }
  &:focus {
      outline: none;
  }
}

/* For alert message when user either signups or logs in */
.alert {
  font-size: 18px; 
  color: red;
}

/* For login and signup pages */
.link-btn {
  background: none;
  color: #00664d;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

/* For alert message when user either signups or logs in */
.alert {
  font-size: 15px; 
  color: red;
}

/* For signup page */
.required-text {
  font-size: 14px;
}