
.account-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh; /* Minimum height of the page to fill the viewport */
}


.signup-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh; /* Minimum height of the page to fill the viewport */

}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh; /* Minimum height of the page to fill the viewport */
}

.title {
  font-weight: bold;
  margin: 0;
}

/* For alert message when user either signups or logs in */
.alert {
  font-size: 18px; 
  color: red;
}

/* For login and signup pages */
.link-btn {
  background: none;
  color: #00664d;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

/* For alert message when user either signups or logs in */
.alert {
  font-size: 15px; 
  color: red;
}

/* For signup page */
.required-text {
  font-size: 14px;
}