/* BRANDYNS CSS HE PUT IN MY STYLE CSS (putting it in this css file so its less confusing) */

.editor-page .editor-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.editor-page .inputForm {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.editor-page .forms-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  max-width: 90vw;
}

.editor-page .form-instance {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 2px dashed #ccc;
  align-items: center;
}

.editor-page #saveButton,
.editor-page #addButton,
.editor-page #cancelButton {
  padding: 10px 20px;
  border: none;
  background-color: #0EB49A;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  margin: 5px;
}

.editor-page #saveButton:hover,
.editor-page #addButton:hover,
.editor-page #cancelButton:hover {
  background-color: #087f6e;
}

@media screen and (max-width: 768px) {
  .editor-page .forms-container {
    flex-direction: column;
    align-items: center;
  }
}

.editor-page .logo {
  height: 7vmin;
  pointer-events: none;
}

.editor-page .file-container,
.editor-page .file-upload-container {
  padding: 20px;
  border: 2px dashed #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.editor-page .custom-upload,
.editor-page .custom-file-upload {
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  background-color: #e6e6e6;
}