.forgot-password-container {
    width: 600px;
    height: 300px;
    margin: 0 auto;
    margin-top: 10%; /* provides gap between bottom of navbar and top of the page */
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 767px) {

    .forgot-password-container {
      width: 70%;
      height: 60%;
      margin: 0 auto;
      margin-top: 25%; /* provides gap between bottom of navbar and top of the page */
      justify-content: center;
      align-items: center;
      text-align: center;
    }
}