/* STYLING FOR NAVBAR CLASS */

nav {
    display: flex; /* places content to the right */
    justify-content: space-between; 
    align-items: center;
    background: #00664d;
    color: white;
    position: sticky;
    margin: 0;
    padding: 10px 20px; /* Add padding to the top and bottom of the nav element */
    padding-left: 50px;
    padding-right: 50px;
}

nav ul {
    display: flex; /* places content to the right */
    background: #00664d;
    align-items: center;
}

nav ul li {
   display: flex;
}

nav ul li a {
    text-decoration: none; /* Removes the underline */
    color: white;
    padding: 0.9rem;
    margin: 0 0.5rem;
    display: block; /* Make the link a block element */
    height: 100%; /* Make the link cover the entire width */
}

.azima-logo {
    /* Add a fixed width to the logo */
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.account-logo {
    width: 40px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */

}

li a:not(.active):hover,
li :hover {
    background: #207963; /* Background color when link is hovered */
    cursor: pointer;
    border-radius: 0.5rem; /* Makes the border curvy */
}

li a.active {
    background-color: #207963; /* Background color for the active link */
    cursor: pointer;
    border-radius: 0.5rem; /* Makes the border curvy */
}

/* hamburger menu */
nav .menu {
    display: flex;
    position: absolute;
    top: 1.4rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    margin-right: 30px;
    cursor: pointer;
}

/* Button where the account image is placed in navbar */
.account-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-top: 5px;

}

.profile-image-section {
    display: flex;
    align-items: center;
    gap: 10px;

}

.profile-image-container {
    width: 36px;
    height: 36px;
    border-radius: 50%;  
    overflow: hidden;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
  
    object-fit: cover;
}

/* Makes the profile image not go rectangular when hovered */
.profile-image-container:hover {
    border-radius: 50%;
}



.dropdown {
    margin-bottom: 5px;
}

/* Dropdown container */
.account-dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown content container (hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    padding: 10px 10px;
    background-color: #00664d;
    z-index: 1;
    width: auto;
    overflow: visible;
    justify-content: center; /* Center the items horizontally */
    white-space: nowrap; /* Ensures that the items remain in a row */
    right: -30px; /* Ensures theres a gap between the right edge and the full screen */
    padding-bottom: 10px;
}

/* Show the dropdown menu on hover */
.account-dropdown:hover .dropdown-content {
    display: block; 
    background: #00664d;
    border-radius: 0.5rem; /* Makes the border curvy */
}
  
/* Dropdown link for account dropdown menu */
.dropdown-link {
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    background: #00664d;
    margin-bottom: 10px; /* Creates a gap between the dropdown links */
}
 
/* Change color of dropdown links on hover */
.dropdown-content .dropdown-link:hover {
    background-color: #207963;
}

.logout-btn,
.logout-btn:focus,
.logout-btn:active {
    border-radius: 25px;
    border: 1px solid #004d39;
    background-color: #0EB49A;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    padding: 12px 42px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 10px; /* Adjust margin-top to add space between the links */
    /* Margin and display is what centers logout button in the dropdown-content div */
    margin: auto; 
    margin-bottom: 5px;
    display: block;
    cursor: pointer;
}

.logout-btn:hover {
    border-radius: 25px;
    background-color: #087f6e; /* Darker shade for hover effect */
}

.logout-btn:active {
    transform: scale(0.95); /* Scale down on click */
}

.user-display {
    margin-top: 10px;
    margin-bottom: 10px; /* Adjust the value as needed */
}

/* Media query to handle when user is on smaller screen */
@media (max-width: 50em) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 5px;
        padding-top: 1rem; /* Add padding to the top of nav links */
        padding-bottom: 1rem; /* Add padding to the bottom of nav links */
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
        padding-bottom: 5px; /* Add padding to the bottom of nav links */
        padding-left: 15px;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }

    nav .menu span {
        height: 0.3rem;
        width: 100%;
        background-color: #ffffff;
        border-radius: 0.2rem;
        align-items: center;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        justify-content: center; /* Center the items horizontally */
        white-space: nowrap; /* Ensures that the items remain in a row */
        transform: translateY(-80%); /* Center vertically */
        left: 100%; /*Ensures dropdown conntent is placed on the right of account-dropdown/image */
        padding-bottom: 2px; /* Add padding to the bottom of nav links */
        padding: 5px; /* Adjust padding as needed */
    }
    
    /* Show the dropdown menu on hover */
    .account-dropdown:hover .dropdown-content {
        display: flex; /* Show the dropdown content as a flex container */
        flex-direction: row; /* Arrange items in a row */
        align-items: center; /* Center the items vertically */
        position: absolute;
        pointer: cursor;
    }
      
    /* Dropdown links */
    .dropdown-link {
        /* Remove display: block */
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        background: #00664d;
    }

    NavLink {
        position: left;
        justify-content: center;
    }
}