/* CSS style sheet for application / for all files to have for consistency */ 
  * {
    /* font-family: "Konkhmer Sleokchher"; */
    font-family: Tahoma;
    font-size: 20px;
    box-sizing: border-box;
    margin: 0;
    
  }

  p {
    font-size: 12px;
  }
  
  h1 {
    font-size: 40px;
  }
  
  /* for app.js file */
  .App {
    background-color: #fefefe;
    height: 100vh;
    width: 100%;
  }
  
  /* div styling for the pages */
  .tours-page, 
  .editor-page, 
  .about-page, 
  .account-container {
    font-family: "Arial";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh; /* Minimum height of the page to fill the viewport */
    text-align: center;
    
  }
  
  /* need this div so that the vg file appears */
  .logo {
    height: 5vmin;
    pointer-events: none;
  }
  
  
  /** FOR THE ACCOUNTS PAGES **/
  
  .login-form,
  .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh; /* Minimum height of the page to fill the viewport */
    text-align: center;
  }
  
  .email-form {
    align-items: flex-start;
  }
  
  .password-form {
    flex-direction: row;
  }
  
  label {
    font-size: 18px;
    margin-right: 1rem;
  }
  
  input {
    font-size: 18px;
    margin: 0.5rem 0;
    padding: 1rem;
    border: solid #00664d;
    border-radius: 10px;
  }
  
  .login-button,
  .signup-button {
    border: none;
    background-color: #00664d;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #ffff;
  }
  
  /* For login and signup pages */
  .link-btn {
    background: none;
    color: #00664d;
    text-decoration: underline;
    border: none;
    cursor: pointer;
  }

  /* For alert message when user either signups or logs in */
  .alert {
    font-family: "Arial";
    font-size: 18px; 
    color: red;
  }

  .required-text {
    font-size: 12px;
  }


