


#aframe-container {
  width: 100vw;
  height: 100vh;
 overflow: hidden;
  display: flex;
  margin:0;
  padding:0;
 
}
body{
  background-color: #2b2b2b;
  color: white; 
  width: 100vw;
  height: 100vh;
  margin:0;
  overflow:hidden;
  display: flex;
}
#aframe-container-add {
  width: 75vw;
  height: 75vh;
  padding:50px;
 
 
}
#overlay {
  position: fixed;

  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 1000;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}



#overlay-add{
  position: fixed;
  margin: 50px;
  width: 75vw;
  height: 75vh;
  background: black;
  z-index: 1000;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
#saveButton {
  position: fixed;     
  bottom: 3%;       
  right: 30px;         
  padding: 10px 100px;  
  border: none;        
  background-color: #0EB49A;  
  color: white;       
  font-size: 16px;     
  border-radius: 4px;  
  cursor: pointer;    
  outline: none;      
  font-family: Mazzard; 
  font-weight: 700;
  font-size: 25px;
}

#saveButton:hover {
  background-color: #4ABFAA;  
}

#cancelButton {
  position: fixed;     

  padding: 10px 88px;  
  border: none;        
  background-color: #0EB49A;  
  color: white;       
  font-size: 16px;     
  border-radius: 4px;  
  cursor: pointer;    
  outline: none;      
  font-family: Mazzard; 
  font-weight: 700;
  font-size: 25px;
  bottom: 10%;       
  right: 30px;  

}



.forms-container {
  display: flex; /* Use flexbox to layout child elements */
  flex-wrap: wrap; /* Allow items to wrap to next line at the end of the container */
  column-gap: 300px;
  row-gap: 10px;/* Add some space between the forms */
  justify-content: flex-start; /* Align forms to the start (left) horizontally */
  align-items: flex-start; /* Align forms to the start (top) vertically */
  padding: 20px; /* Add some padding around the container */
  margin:100px 100px; /* Remove default margin */
/* Adjust margin to position the container closer to the top-left */
  max-width: 82%; /* Adjust max-width to account for padding */
  /* Hide overflow */
  overflow-x: auto; 
  flex-shrink: 0;
}

.inputForm, .fileForm {
 /* Remove default margin */
  width: auto; /* Allow the form width to grow with content */
  min-width: 250px; /* Set a minimum width for each form */
}


#addButton {
  position: fixed;
 
  padding: 10px 20px;
  background-color: #0EB49A;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}



#addButton {

  
  position: fixed;     

  padding: 10px 88px;  
  border: none;        
  background-color: #0EB49A;  
  color: white;       
  font-size: 16px;     
  border-radius: 4px;  
  cursor: pointer;    
  outline: none;      
  font-family: Mazzard; 
  font-weight: 700;
  font-size: 25px;
}
#cancelButton:hover {
  background-color: #4ABFAA;  
}






.color-picker-container input[type="color"] {
  width: 200px;
  height: 100px;
  cursor: pointer;
 
  
}


.plus-button {
  position: absolute;
  
  width: 50px;
  height: 50px;

  top: 50%;        /* Place the top edge of the button at the center of the container */
  left: 50%;       /* Place the left edge of the button at the center of the container */
  transform: translate(-10%, -90%);  
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  font-size: 36px;
  font-weight: bold;
  font-family: Mazzard;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s;
  z-index: 1000; /* Ensure it appears above the A-Frame content */
}

.plus-button:hover {
  color:#4ABFAA;
}


.file-upload-container {
  border: 3px solid #ccc;
  position: fixed;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 20px;
 
  font-family: Mazzard;
  font-weight: 700;
 overflow: wrap;
  font-size: 20px;
  margin:100px 0.5%;
  max-width: 190px;
  max-height: 200px;
  transition: background-color 0.2s; /* smooth transition for hover effect */
}
p span{
  font-family: Mazzard;
  font-weight: 700;
  font-size: 15px;

}

/* Add a hover effect to visually indicate it's clickable */
.file-upload-container:hover {
  background-color: #eee;
}
input[type="text"]{
  font-family: Mazzard;
  color: white;
  padding: 6px 12px;
  font-weight: 700;
  border-radius: 15px;
  font-size: 20px;
  flex-wrap: wrap;
  background-color: transparent; 
  display: block;  /* Added to move the input to its own line */
  width: 100%;  /* Takes full width of its parent */
  box-sizing: border-box;  /* Ensures padding and border are included in total width */
}



.inputForm{
  position: absolute;

  width: 250px;
 
}

.inputForm h1 {
  margin-bottom: 5px;  /* Brings the header closer to the input box */
}

.color-picker {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  right: 5%;  
  top: 4%;
  
   /* Ensures it appears above most other content */
}

.color-picker h1{
  margin-bottom: 5px;
}

.color-option {
  position: relative;
}

.color-option input[type="radio"] {
  visibility: hidden;
  position: absolute;
}
.toggle-text-container {
  position: fixed; /* or `absolute` depending on your layout */
  bottom: 17%; /* Adjust the value to place it under the scroll gallery */
  right: 11%; /* Align with the right edge of the select-gallery */
  transform: translateX(50%); /* Center align under the gallery */
  z-index: 101; /* Ensure it's above the gallery and other content */
  background-color: #2b2b2b; /* Match gallery background */
  padding: 10px;
  border-radius: 4px; /* Optional: Adds rounded corners */
  color: white;
  font-family: Mazzard; 
  font-weight: 700;/* Text color */
  box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* Optional: Adds subtle shadow for depth */
}

/* Improve the look of the label and checkbox */
.toggle-text-container label {
  cursor: pointer; /* Indicates the label is clickable */
  display: inline-flex; /* Aligns the checkbox and label text */
  align-items: center; /* Centers items vertically */
}

.toggle-text-container input[type="checkbox"] {
  margin-right: 5px; /* Space between the checkbox and label text */
}
.color-display {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}

.color-option input[type="radio"]:checked + .color-display {
  border: 2px solid #ffffff;
}
.tab, .gallery {
  clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  z-index: 100;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab {
  padding: 0px 20px;
  /* Use a background image or pseudo-element for the arrow */

  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px 20px;
}

.gallery {
  opacity: 0; /* Start fully transparent */
  transform: translateY(-100%); /* Start off-screen */
  padding: 0px 10%;
  white-space: nowrap;
  max-width: 70vh;

  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  background-color: #2b2b2b;
  color: black;
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition for opacity and transform */
  position: fixed;
  top: 0;

  transform: translateX(50%) translateY(-100%);
  z-index: 100; 
}


.select-gallery {
  max-width: 34vh;
  background-color: #2b2b2b;
  padding: 10px 10px;
  color: white;
  position: fixed;
  white-space: nowrap;
  top: 60%;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  right: 11%;
  transform: translateX(50%);
  z-index: 100;
  cursor: pointer;
  transition: all 0.3s ease;
}
.scroll-container{
  overflow-x: scroll;
width:100%;

}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
.gallery::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
.select-gallery::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
.gallery.is-active {
  opacity: 1; /* Fully visible */
  transform: translateX(50%) translateY(0); /* Slide into final position */
}
.gallery img {
  height: 80px; /* Adjust based on your preference */
  margin-right: 4px;
}
.select-gallery img {
  height: 80px; /* Adjust based on your preference */
  margin-right: 4px;
}

.image-container {
  display: inline-block; /* Align images horizontally */
  text-align: center; /* Center the captions */
 

  padding-top: 10px;
 
}

.caption {
  display: block; /* Ensure captions appear below images */
  color: white; /* Match the gallery's color scheme */
  margin-top: 5px; /* Space between the image and its caption */
}
.close-gallery {
  display: block;
  margin: 1px auto; /* Center the button below the images */

  background-color: transparent; /* Match gallery background */
  color: #f0f0f0; /* Arrow color */
  border: none; /* Remove default button styling */
  cursor: pointer; /* Indicate clickable */
  font-size: 20px; /* Adjust size of the arrow */
}

/* Optional: Add hover effect */
.close-gallery:hover {
  color:#ffffff /* Slightly lighter than gallery background */
}
#saveHouseBtn {
  position: absolute;
  top: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  z-index: 1000; /* Ensure it's above the A-frame scene */
  border: none;        
  background-color: #0EB49A;  
  color: white;       
  font-size: 16px;     
  border-radius: 4px;  
  cursor: pointer;    
  outline: none;      
  font-family: Mazzard; 
  font-weight: 700;
  font-size: 25px;
  padding: 15px 48px; 
  /* Adjust as needed */
}
#saveHouseBtn:hover {
  background-color:#4ABFAA;
}